# SERVICE NODE ENV
NODE_ENV=development

# SERVICE API
SERVICE_PORT=5000
SERVICE_NAME=COUPON-API
SERVICE_PREFIX=api
SERVICE_DEFAULT_VERSION=1
SERVICE_DOCS=1
SERVICE_BASE_URL=http://localhost:5000

SERVICE_MONGO_DB_HOST=mongodb://127.0.0.1:27017/db_test
SERVICE_MONGO_DB_USER=admin
SERVICE_MONGO_DB_PASS=123
SERVICE_MONGO_DB_AUTH=admin
SERVICE_MONGO_DB_REPLICA=